:root {
  --logo-color: #000000;
  --title-color: #212121;
  --text-color: #757575;
  --extra-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

/* .pointer {
  cursor: pointer;
} */

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/* HEADER */

.header {
  padding-top: 24px;
  padding-bottom: 4px;
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--logo-color);
  margin-right: 93px;
}

.logo-item-header {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-nav .link.current {
  color: var(--accent-color);
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-tel,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-mail {
  margin-right: 50px;
}

/* HERO */

.hero-container {
  padding-top: 221px;
  padding-bottom: 179px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 40);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--extra-color);
  background-color: cornflowerblue;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--extra-color);
  background-color: var(--accent-color);
  margin: auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* FEATURES */

.features {
  padding-top: 115px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.features-item {
  width: calc((100% - 90px) / 4);
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

/* ABOUT US */

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

/* TEAM */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-top: 30px;
}

.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 30px;
}

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

/* FOOTER */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--extra-color);
  background-color: cornflowerblue;
  margin-bottom: 20px;
  display: inline-block;
}

.logo-item-footer {
  color: var(--accent-color);
}

.contacts-address-item {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--extra-color);
  background-color: cornflowerblue;
}

.contacts-item {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: cornflowerblue;
}

/* PORTFOLIO */

/* .portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
} */

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  border-radius: 4px;
  display: flex;
}

.portfolio-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--extra-color);
  background-color: var(--accent-color);
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--title-color);
}

.works-text {
  font-family: 'Roboto' sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.works-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.card-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
